post_process
small_data/trajPoint.*
small_data/xuap.*
small_data/xuag.*
test_data/trajPoint.*
test_data/xuap.*
test_data/xuag.*

single_traj/trajPoint.*
single_traj/xua*.*
xcodeproject
post_process_exe
