macosx_postprocess/DerivedData/macosx_postprocess
macosx_postprocess/DerivedData/ModuleCache
macosx_postprocess/macosx_postprocess.xcodeproj/project.xcworkspace/xcshareddata
macosx_postprocess/macosx_postprocess.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes
